.content{

}

.panel .panel-content .pictures{
    width: 800px;
    height: 500px;
    float: left;
    margin-left: 50px;
    margin-right: auto;
}
.pictures .picture-1{
    float: left;
    width: 700px ;
    height: 383px;
    margin-top: 50px;
    background-image: url("../img/show/yuanqu.jpg");

}

.main .show .panel2{
    height: 155px; ;
    background-image: url("../img/show/minipanel-2px.png");
}
.panel2-left{
    width: 25px;
    height: 155px;
    background-image: url("../img/show/minipanel-left.png");
}
.panel2-right{
    width: 25px;
    margin-left: -25px;
    height: 155px;
    background-image: url("../img/show/minipanel-right.png");
}
.panel  .panel2-wrap{
    height: 155px;
}
.panel2-content{
    height: 155px;
}
table .time{
    width: 25%;
}
table .place{
    width: 15%;
}
table .detail{
    width: 20%;
}
table .level{
    width: 15%;
}
table .result{
    width: 25%;
}

table .level1{
    background-color: #ff5a00;
}
table .level2{
    background-color: #fca204;
}
table .level3{
    background-color: #6dd011;
}