.content{
  
}

.main .show{
  background-color:#EDEDED;
  float:left;
  width:100%;
}

.main .show .line{
  float:left;
  width:100%;
  min-width:1000px;
}

.main .show .line .panel{
  float:left;
  width:36%;
  height:251px;
  background-image:url(../img/panel1px.png);
  background-repeat:repeat-x;
}

.panel-content{
  height:200px;
}

.main .show .line .panel-left{
  float:left;
  width:63px;
  height:251px;
  background-image:url(../img/panelleft.png);
}

.main .show .line .panel-right{
  float:left;
  width:63px;
  height:251px;
  background-image:url(../img/panelright.png);
}

.main .show .line .panel .panel-title{
  height:30px;
  padding:20px 0 0 5px;
  font-size:14px;
  border-bottom:1px solid #EBEBEB;
  margin: 0 5px 0 5px;
}

.bar{
  display:block;
  float:left;
  height:9px;
}
.red-bar-left{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/redleft.png);
}

.red-bar-right{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/redright.png);
}
.red-bar-content{
  float:left;
  width:80px;
  height:8px;
  background-image:url(../img/red1px.png);
  background-repeat:repeat-x;
}

.grey-bar-left{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/greyleft.png);
}

.grey-bar-right{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/greyright.png);
}
.grey-bar-content{
  float:left;
  width:80px;
  height:8px;
  background-image:url(../img/grey1px.png);
  background-repeat:repeat-x;
}

.green-bar-left{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/greenleft.png);
}

.green-bar-right{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/greenright.png);
}
.green-bar-content{
  float:left;
  width:80px;
  height:8px;
  background-image:url(../img/green1px.png);
  background-repeat:repeat-x;
}

.yellow-bar-left{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/yellowleft.png);
}

.yellow-bar-right{
  float:left;
  width:8px;
  height:8px;
  background-image:url(../img/yellowright.png);
}
.yellow-bar-content{
  float:left;
  width:80px;
  height:8px;
  background-image:url(../img/yellow1px.png);
  background-repeat:repeat-x;
}

.small-left{
  float:left;
  width:22px;
  height:95px;
  background-image:url(../img/smallbackleft.png);
  margin-left:5px;
}

.small-right{
  float:left;
  width:22px;
  height:95px;
  background-image:url(../img/smallbackright.png);
}

.small-content{
  float:left;
  width:19%;
  height:95px;
  background-image:url(../img/small1px.png);
}

.big-content{
  float:left;
  width:41%;
  height:95px;
  background-image:url(../img/small1px.png);
}

.icon{
  float:left;
  width:64px;
  height:64px;
  margin-top:20px;
  background-image: url(../img/icon2.png);
}

.icon-store{
  background-position-y: 0px;
}

.icon-checkin{
  background-position-y: -64px;
}

.icon-lift{
  background-position-y: -128px;
}

.icon-park{
  background-position-y: -192px;
}

.icon-alarm{
  background-position-y: -256px;
}

.icon-light{
  background-position-y: -320px;
}

.info{
  float:left;
  margin:15px 0 0 10px;
  width:100%;
}

.small-main{
  height:76px;
  float:left;
  width:60%;
  margin-top:5px;
}

.large-main{
  float:left;
  width:80%;
}

.info .info-value{
  margin-top:5px;
  float:left;
}

.bar-background{
  float:left;
}

.width20>.bar-content{
  width:20px;
}

.width30>.bar-content{
  width:30px;
}

.width70>.bar-content{
  width:70px;
}

.width60>.bar-content{
  width:60px;
}

.width50>.bar-content{
  width:30px;
}

.width120>.bar-content{
  width:120px;
}

.bar-inner{
  position:relative;
  left:-8px;
}

.info-label{
  float:left;
}

.text-red{
  color:#FF3900
}

.text-yellow{
  color:#FE9600
}

.text-green{
  color:#66D900;
}

.background-red{
  color:#FFF;
  background-color: #FF3900;
}